* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./background/gotg-bg.jpg");
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h1 {
    height: 100px;
    width: 100vw;
    color: white;
    font-size: 48px;
    text-align: center;
    line-height: 15vh;
}

#mainContainer {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#board {
    width: 540px;
    height: 480px;
    background-color: rgb(249, 133, 32);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#board .square {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    position: relative;
    
}

#board img {
    height: 50px;
    width: 50px;
    position: relative;
    z-index: -9;
    margin-top: 5px;
    margin-left: 5px;
}


#board svg {
    height: 40px;
    width: 50px;
    position: relative;
    z-index: -8;
}
#board path {
    position: relative;
    z-index: -10;
}

#board .piece {
    position: relative;
    z-index: 9;
    height: 60px;
    width: 60px;
}

#board .pureblack, #board .purewhite {
    position: absolute;
    z-index: 10;
    top: 5px;
    left: 5px;
}
#buttonDiv {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#buttonDiv #finishedPrep, #buttonDiv #nextTurn{
    height: 80px;
    width: 100px;
    background-color: rgb(249, 133, 32);
    
}

#buttonDiv #playerTurn {
    height: 80px;
    width: 100px;
    background-color: #EEE;
    color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formDiv {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#formDiv form {
    height: 100px;
    width: 200px;

    display: flex;
    justify-content: center;

}

#formDiv form input {
    width: 200px;
    font-size: 24px;
    background-color: rgb(249, 133, 32);

}

#history, #howtoplay {
    width: 80vw;
    font-size: 24px;
    background-color: rgb(249,133,32);
    padding: 20px;
}

#objectives, #equipments, #gameplay {
    border-bottom: 5px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

#howtoplay nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 5px solid black;
}

#tablediv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
#howtoplay table {
    text-align: center;
}

#howtoplay table .tableimg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}


#howtoplay table td,#howtoplay table th{
    width: 200px;
}

#howtoplay #equipments img {
    height: 50px;
    width: 80px;
    margin: 10px;
}

#history p, #howtoplay p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.invisible {
    display: none !important;
}

.zeroopacity {
    opacity: 0;
}
